/* dafault css */
*{
    margin: 0;
    padding: 0;
}
body ul li{
    list-style: none;
}
body ul li a{
    text-decoration: none;
}
input{
    outline: none;
}
body{
    background-color: #F0F2F5;
}

/* main-css-start */
.fb-header {
	background-color: #FFFFFF;
	width: 100%;
	padding: 0px 14px;
	margin-bottom: -7px;
	position: fixed;
	width: 100%;
	z-index: 2;
}
.fb-brand{
   display: flex;
   margin-top: 5px;
   
}
.fb-brand img:hover{
    cursor: pointer;
}
.fb-brand input {
	padding: 0px 28px;
	border-radius: 50px;
	background-color: #F0F2F5;
	border: none;
	margin-top: 4px;
	height: 42px;
    color: #606060;
    position: relative;
}

.fb-brand input{
  outline: none;
}

.fb-brand i{
    position: absolute;
    top: 23px;
    left: 75px;
    color: #949494;
}

/* menu */
.fb-menu {
	margin-top: 13px;
	margin-bottom: -5px;
}
.fb-menu ul{
   display: flex;
   justify-content: space-between;
   margin-bottom: 0px;
   align-items: center;
   height: 45px;
}

.fb-menu ul li{
   width: 100%;
   text-align: center;
   position: relative;
   height: 100%;
   cursor: pointer;
}

.fb-menu ul li.active svg{
    color: #1B74E4;
}
.fb-menu ul li.active::before{
    content: "";
    height: 3px;
    width: 100%;
    margin: auto;
    display: block;
    background-color: #1B74E4;
    position: absolute;
    bottom: 0;
    left: 0;
}
.fb-menu ul li a{
    display: block;
}
/* fb-auth-css */
.fb-auth{
   empty-cells: hide;
}
.fb-auth img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.fb-auth ul{
    display: flex;
    justify-content: flex-end;
}
.fb-auth ul li{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #E4E6EB;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}
.fb-auth ul li svg{
    color: #000;
    margin-top: 10px;
}
.fb-auth img:hover{
    cursor: pointer;
}


/* body-part-css */
.b{
    background-color: #F0F2F5;
    height: 100vh;
    padding: 0 0px;
    margin-left: -18px;
    padding-top: 70px;
}
.b ul li{
    display: flex;
    position: relative;
    z-index: 5;
    padding-left: 5px;
}
.b ul li:hover:before{
    content: "";
    background-color: #E4E6E9;
    transition: .6s;
    height: 90%;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    margin-top: 12px;
}
.b ul li img:nth-child(1){
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 10px;
}
.b ul li span {
	padding-top: 24px;
	color: #4d4949;
	font-size: 14px;
    cursor: pointer;
}

/* story */
.story{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}
.story-box{
    width: 110px;
    height: 195px;
    border-radius: 9px;
    margin-left: 10px;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,.1);
    position: relative;
}
.story-box:hover{
   width: 109px;
   height: 193px;
   transition: .1s;
   cursor: pointer;
}
.story-box span{
    color: rgb(0, 0, 0);
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    bottom: 5px;
    left: 5;
}
.story-box:nth-child(1){
    background-image: url(./profile-img/minhaj.jpg);
    background-size: cover;
    padding: 0 10px;
    background-position: center;
}
.story-box:nth-child(2){
    background-image: url(./profile-img/minhaj-story.jpg);
    background-size: cover;
    padding: 0 10px;
    background-position: center;
}
.story-box:nth-child(3){
    background-image: url(./profile-img/mafi-story.jpg);
    background-size: cover;
    padding: 0 10px;
    background-position: center;
    position: relative;
}
.story-box:nth-child(4){
    background-image: url(./profile-img/alina-story.jpg);
    background-size: cover;
    padding: 0 10px;
    background-position: center;
}
.story-box:nth-child(5){
    background-image: url(./profile-img/munsur.jpg);
    background-size: cover;
    padding: 0 10px;
    background-position: center;
}
.story-box:nth-child(1) span{
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-align: center;
    display: block;
    padding-top: 20px;
}
.story-box:nth-child(1)::before{
    content: "";
    height: 40px;
    width: 40px;
    background-color: #166ADA;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 125px;
    left: 32px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    z-index: 1;
}
.story-box:nth-child(1) span{
    height: 45px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    padding-left: -10px;
    left: 0;
    bottom: 0;
    border-radius: 0 0 8px 8px;
}
/* mini-border-profile */
.story-box:nth-child(2)::before{
    content: "";
    height: 40px;
    width: 40px;
    background-image: url(./profile-img/minhaj.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 12px;
    border-radius: 50%;
    border: 4px solid #ffffff;
}
.story-box:nth-child(3)::before{
    content: "";
    height: 40px;
    width: 40px;
    background-image: url(./profile-img/mafi.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 12px;
    border-radius: 50%;
    border: 4px solid #166ADA;
}
.story-box:nth-child(4)::before{
    content: "";
    height: 40px;
    width: 40px;
    background-image: url(./profile-img/alina.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 12px;
    border-radius: 50%;
    border: 4px solid #166ADA;
}
.story-box:nth-child(5)::before{
    content: "";
    height: 40px;
    width: 40px;
    background-image: url(./profile-img/munsur.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 12px;
    border-radius: 50%;
    border: 4px solid #166ADA;
}

/* fb-post-card-section  */
.n-icon{
    position: fixed;
}
.fb-post .post-card{
    border-radius: 8px;
}
.fb-post img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	margin-top: -5px;
}
.fb-post button {
	border: none;
	padding: 7px 10px;
	border-radius: 50px;
	font-size: 17px;
	width: 88%;
	text-align: left;
    background-color: #F2F3F5;
    color: #7b7b7b;
	margin-left: 5px;
}
.fb-post button:hover{
    background-color:#E4E6E9;
}
.fb-post hr{
    color: #a8a3a3;
}

.post-icon{
    width: 90%;
}
.post-icon-box span{
    display: inline-block;
    font-size: 24px;
    margin-right: 3px;
}
.post-icon-box a{
    text-decoration: none;
    color: #7a7b7c;
    font-size: 14px;
    font-weight: 600;
}
.post-icon-box:nth-child(1) svg{
    color: #E73F5A;
}
.post-icon-box:nth-child(2){
    color: #41B35D;
}
.post-icon-box:nth-child(3){
    color: #EAB026;
}
/* active-slider */
.active-slider-part{
    width: 75%;
    margin: auto;
    break-before: 5px;
}
.create-room{
   border-radius: 4px;
   background-color: #FFFFFF;
}
.create-room-icon {
	border: 2px solid #DBE7F2;
	padding: 0px 0px 6px 14px;
	border-radius: 30px;
	width: 135px;
}
.create-room-icon span{
    color: #A93BB9;
    font-size: 20px;
    margin-right: 3px;
}.create-room-icon a{
   text-decoration: none;
   font-size: 14px;
   font-weight: 600;
}
.create-room-slider{
   margin-top: 6px;
   position: relative;
}
.create-room-slider img{
   margin-right: 12px;
   border: 1px solid #c8c6c6;
}
.create-room-slider::before {
   content: "";
   height: 13px;
   width: 13px;
   background-color: #31A24C;
   border-radius: 50%;
   border: 2px solid #ffffff;
   bottom: 1px;
   left: 27px;
   position: absolute;
}

/* modals-css */
.modal-header .btn-close {
   width: 20px;
   height: 20px;
   background-color: #D8DADF;
   font-size: 15px;
   color: #6F767E;
   border-radius: 50%;
   margin-top: -20px;
}
.modal-header h4{
    font-weight: 600;
}
.cl{
    color: #18191A;
}

/* post-timeline-area */
.user-auth-area{
    position: relative;
}
.user-info img {
	margin-top: 10px;
	margin-right: 7px;
    cursor: pointer;
}
.user-info span{
    margin-top: -20px;
    font-weight: 600;
    cursor: pointer;
}
.user-info a {
	margin-left: 50px;
	display: block;
	margin-top: -18px;
	font-size: 13px;
    cursor: pointer;
}
.user-info i{
    color: #65676B;
    font-size: 12px;
}

.staus > img {
	width: 100%;
	border-radius: 0;
	height: auto;
    cursor: pointer;
}

.user-edit a{
    color: #606266;
    cursor: pointer;
}
.user-edit{
    margin-top: 10px;
}
.dropdown-menu.show {
	display: block;
	box-sizing: border-box;
    position: absolute;
}
.user-edit ul li{
    padding-left: 0px;
}
.user-edit ul li::before{
    content: '';
    display: none;
}